<html lang="fr">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.pink.min.css" />
  </head>
  <body>
    <header>
      {% block header %}{% endblock %}
    </header>
    <main class="container">
      {% block main %}{% endblock %}
    </main>
    <footer>
      Canarduck
    </footer>
  </body>
</html>