{% extends "base.html" %}

{% block title %}{{ site.name }}{% endblock %}

{% block header %}<h1>{{ site.name }}</h1>{% endblock %}

{% block main %}
<article>
  <h2>{{ blog.title }}</h2>
  {% if blog.description.is_some() -%}
  {{ blog.description.as_ref().unwrap()|mdtohtml|safe }}
  {% endif %}
  <footer>
    <p>
      Publié le
      <time datetime="blog.created_at">{{ blog.created_at }}</time>
      par Canarduck.
    </p>
  </footer>
</article>
{% endblock %}