{% extends "base.html" %}

{% block title %}{{ site.name }}{% endblock %}

{% block header %}
<h1>{{ site.name }}</h1>
{% if site.description.is_some() -%}
<p>{{ site.description.as_ref().unwrap() }}</p>
{% endif -%}
{% endblock  %}

{% block main %}
<ul>
  {% for blog in blogs -%}
  <li><a href="blogs/{{ blog.iid }}.html">{{ blog.title }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
